#App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: .2rem;
  background-color: rgb(11, 64, 64);
  color:rgb(14, 0, 4);
}

.welcome {
  align-items: center;
  border-bottom: 5px rgb(191, 247, 8) solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: .5rem;
  padding-bottom: .5rem;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.on {
  color: #000;
}

.off {
  color: #ccc;
}